/*!
 * Custom CSS
 */
.home-section {
	background-image: url(../images/cookout_main.png);
	height: 700px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
}

.navbar {
	margin-bottom:0px;
	border-radius:0px;
}

.header-text {
	color:white;
}

.navbar-logo {
	height:40px;
	margin-top:5px;
}

.navbar-inverse {
	background-color:black;
}

.navbar-toggle {
	margin-top:35px;
}

.navbar-nav > li > a:hover{
	background-color: #2c3e4e !important;
}